{
    "trailingComma": "es5",
    "semi": true,
    "doubleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid"
}
