h1 {
      color: red;
      font-size: 50px;
    }

    .fundoVermelho {
      background-color: #ff0000;
    }

    #textoPrincipal {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      padding: 0.1px;
      background-color: #444;
    }
